@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


body{
    background-color: #fcfcfc;
    font-family: 'Roboto', sans-serif;
}

/*Start Container Atoms */
.pl-container{
     width: 70%;
     padding: 0px 10px;
     display: flex;
     flex-direction: column;
     margin: 30px auto;
     background-color: #fcfcfc;
}

.pl-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* End Container Atoms */


/*Start Text Atoms */
.pl-text {
     color: #28304e;
     background-color: transparent;
}

.pl-text.lg{
     font-size: 35px;
}
.pl-text.md{
    font-size: 25px;
    font-weight: bold;
}

.pl-text.left{
     float: left;
 }
/* End Text Atoms */

/*Start Badge Atoms */

.pl-badge{
    padding: 5px 10px;
    color: #ffffff;
    background-color: red;
    border-radius: 7px;
}
/* End Badge Atoms */


/*Start Button Atoms */
  .pl-button {
    border: none;
    font-weight: bold;
    cursor: pointer;
    outline: none;
  }

  .pl-button.green{
    background-color:#1abc9c;
    color: white;
  }

  .pl-button:hover{
    -webkit-box-shadow: 0px 0px 13px -1px rgba(68,136,228,0.71); 
    box-shadow: 0px 0px 13px -1px rgba(68,136,228,0.71);
  }

  .pl-button.primary{
     width: 150px;
     height: 35px;
     border-radius: 6px;
  }

  .pl-button.secondary{
    width: 150px;
    height: 35px;
    border-radius: 6px;
    background-color: transparent;
    border:1px solid rgba(68,136,228,0.71); 
 }

  .pl-button.right{
     float: right;
  }
/* End Button Atoms */


/*Start MainHeader molecules */
.pl-main-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

/*End MainHeader molecules */


/*Start QuestionItem molecules */
.pl-question-item{
    height: 70px;
    background-color: #ffffff;
    border: 1px solid #f9f9f9;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 3px;
}

.pl-question-item:hover{
    -webkit-box-shadow: 0px 0px 13px -1px rgba(68,136,228,0.71); 
    box-shadow: 0px 0px 13px -1px rgba(68,136,228,0.71);
}

.pl-question-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*End QuestionItem molecules */



/*Start DetailHeader molecules */
    

/*End DetailHeader molecules */


/*Start choise molecules */
    .pl-choise-item{
       height: 30px;
       background-color: #ffffff;
       border: 1px solid #f9f9f9;
       cursor: pointer;
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: space-between;
       padding: 10px;
       margin-bottom: 15px;
       border-radius: 3px;
    }

    
    .pl-choise-item.selected{
        -webkit-box-shadow: 0px 0px 13px -1px rgba(68,136,228,0.71); 
        box-shadow: 0px 0px 13px -1px rgba(68,136,228,0.71);
    }

/*End choise molecules */

/*Start HomePAge page */

    .pl-detail-header{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
   
/*End QuestionBox page */


/*Start Detail page */

.pl-detail{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
 
/*End Detail page */

.pl-create-header{
    display: flex;
    flex-direction: column;
}